body 
{
    background-color: #4b88b9;
text-align: center;
}
h1 
{
color: rgb(38, 89, 165);
border-style: solid;
border-color:rgb(255, 255, 255);  
border-width:2px;
padding: 10px;
}
#nome
{
text-decoration: underline;
font-size:40px;
color: rgb(30, 86, 109);
background: white;
}
a
{
color: blue;
font-size: 20px;
border-style: dashed;
border-color: darkblue;
border-width: 2px;
padding: 10px;
border-radius: 20px;
}

p{
color: rgb(8, 7, 7);
word-spacing: 10px;
font-variant: small-caps;
font-size: 20px;
font-family: Arial;
}

.informacoes{
  color: darkblue;
  font-size: 18px;
}

